jsonpickle
ftfy
word2number
conllu
numpy
datasets
transformers
parsimonious
unidecode
sklearn
inflection
strsimpy
stanza
spacy
overrides==3.0
editdistance
nltk
networkx
SPARQLWrapper
tqdm
stanfordnlp
scikit-learn
fuzzywuzzy
torch
flask
evaluate
responses
scipy
h5py
zlib
boto3
botocore
requests
six
tensorboardx